body{
    background-color: black;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    color: gold;
}

#mainbar{
    margin: 0%;
    padding: 0%;
    list-style-type: none;
    display: flex;
    flex-flow: row;
    justify-content: space-between; 
    align-items: center;
}

#navbar{
    background-color: gold;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

ul{
    margin: 0%;
    padding: 0%;
    list-style-type: none;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;    
}

li a {
    display: block;
    color: black;
    padding: 3px;
    text-decoration: none;
  }

li a:hover{
    color: darkgoldenrod;
}

img{
    width: 737px;
    height: 415px;
}

.button{
    height: 40px;
    width: 100px;
    background-color: gold;
}

.block-noticia{
    width: 737px;
    height: 500px;
    background-color: gold;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid gold;
    border-bottom: 1px solid black;
}

#logo{
    width: 40px;
    height: 40px;
}

#menuicon{
    width: 40px;
    height: 40px;
}

#div1{
    margin: 0%;
    padding: 0%;
    list-style-type: none;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly; 
    align-items: center;
}

#banner1{
    width: 100px;
    height: 100px;
}

footer{
    height: 100px;
    background-color: gold;
    font-family: Arial, Helvetica, sans-serif;
}